<div class='row fields combination'>

  <h3>Exercise Combination
  <%= combination_fields_removal_link(f) %></h3>

  <div class="form-group form-inline col-md-2">
    <%= f.input :sets, :error => false %>
    <%= f.input :sets_complete %>
  </div>

  <div class="col-md-10">
    <%= f.simple_fields_for :supersets do |builder| %>
      <%= render 'superset_fields', f: builder %>
    <%- end -%>

    <p><%= link_to_add_fields('Add a Complex', f, :supersets) %></p>
  </div>

</div>
<hr class='combination-splitter'>
