<div class='fields'>



  <strong>Exercise Combination</strong>

  <%= combination_fields_removal_link(f) %>

  <div class="form-group form-inline">
    <%= f.input :sets, :error => false %>
    <%= f.input :sets_complete %>
  </div>
  <hr>

</div>



  <%= f.simple_fields_for :supersets do |builder| %>
    <%= render 'superset_fields', f: builder %>
  <%- end -%>

  <p><%= link_to_add_fields('Add a Complex', f, :supersets) %></p>
  <hr>




