<h3>Workout Date: <%= @workout.workout_date %></h3>

<br><br>

<table class="table table-bordered">
  <th>
  <th>Combination</th>
  <th>Sets</th>
  <th>Sets Complete</th>
<%- @workout.combinations.order(:id).each_with_index do |combination, index| -%>
<tr>
  <td><%= index + 1 %></td>
  <td>
  <%- combination.supersets.each do |superset| -%>

<div>
    <%- superset.exercise_sets.each do |exercise_set| -%>

    (<%= exercise_set.exercise.name %> x <%= exercise_set.reps %> reps)
    <%- end -%>
    <%- if superset.weight.present?-%>
    @ <%= superset.weight %><%- end -%>

  <%- end -%>
  </div>
  </td>
<td><%= combination.sets %></td>
<td>
  <% if combination.sets != combination.sets_complete %>
    <%= simple_form_for combination do |f| %>
      <%= f.input :sets_complete, as: :hidden, input_html: {value: (combination.sets_complete + 1)} %>
      <button type="submit" class="btn btn-success">
        <%= combination.sets_complete %>
      </button>
    <%- end -%>
  <%- else -%>
      <button type="submit" class="btn btn-success disabled">
        <%= combination.sets_complete %>
      </button>
  <%- end -%>
</td>
<%- end -%>
</tr>
</table>
