<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs container">
    <div class="row form-row-margin">
      <%= f.input :email, :required => true, :autofocus => true, label_html: { class: "col-md-2" }, input_html: { class: "col-md-2" } %>
    </div>
    <div class="row form-row-margin">
      <%= f.input :first_name, :autofocus => true, label_html: { class: "col-md-2" }, input_html: { class: "col-md-2" } %>
    </div>
    <div class="row form-row-margin">
      <%= f.input :last_name, :autofocus => true, label_html: { class: "col-md-2" }, input_html: { class: "col-md-2" } %>
    </div>
<!--     <%= f.input :account_privacy, collection: User::PRIVACY, :autofocus => true, :include_blank => false %> -->

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>


    <div class="row form-row-margin">
      <%= f.input :password, :autocomplete => "off", :hint => "leave blank if not changing your password", :required => false, label_html: { class: "col-md-2" }, input_html: { class: "col-md-2" } %>
    </div>

    <div class="row form-row-margin">
      <%= f.input :password_confirmation, :required => false, label_html: { class: "col-md-2" }, input_html: { class: "col-md-2" } %>
    </div>
    <div class="row form-row-margin">
      <%= f.input :current_password, :hint => "please enter current password to confirm changes", :required => true, label_html: { class: "col-md-2" }, input_html: { class: "col-md-2" } %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>
