
<% if user_signed_in? %>
  <%= "Welcome back, #{current_user.username}!" %>
  <%= pie_chart current_user.exercises.group('name').count %>
  <%= line_chart current_user.workouts.group_by_day(:workout_date).count %>
<% else %>
  <h1 class='brand'>PLATFORMR</h1>
  <p>The world's #1 app for tracking your progs.</p>
  <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-success' %>
  <%= link_to "Sign in", new_user_session_path, class: 'btn btn-success' %>
<% end %>
