<h2>Sign in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-vertical' }) do |f| %>
  <%= f.input :login, :required => false, :autofocus => true %>
  <%= f.input :password, :required => false %>

  <div class="checkbox">
    <label>
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span>
      <input class="boolean optional" id="user_remember_me" name="user[remember_me]" type="checkbox" value="1"> Remember me
    </label>
 </div>

  <!-- <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %> -->

  <%= f.button :submit, "Sign in" %>
<% end %>

<%= render "devise/shared/links" %>
