<!--
<%= form_for(@exercise, :html => { :class => "form-horizontal", :role => "form" } ) do |f| %>

  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@exercise.errors.count, "error") %> prohibited this user from being saved:</p>

      <ul>
      <% @exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <div class="form-group">
    <%= f.label :name, class: 'col-md-1 control-label' %>
    <div class="col-md-11">
      <%= f.text_field :name, class: 'form-control' %>
  </div>
</div>



  <div class="form-group">
    <div class="col-md-offset-1 col-md-10">
      <%= f.submit "Submit", class: 'btn btn-default' %>
    </div>
  </div>

<% end %>
-->




<%= simple_form_for @exercise do |f| %>
  <%= f.input :name, label: 'Exercise name' %>
  <%= f.button :submit %>
<% end %>
